/* Custom Stylesheet */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.upload-config {
	padding-top:4rem;
  padding-right: 4rem;
  padding-left: 4rem;
}

#body, #footer{
  display: block;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
}


@media (max-width: 600px) {
  #footer {
    position: relative;
  }
}
