<nav class="light-blue darken-2" role="navigation">
	<div class="nav-wrapper container"><img src="static/images/fav.png" alt="" style="width:45.3px;height:60px;margin-right:30px">
		<a id="logo-container" href="/" class="brand-logo">File-Cleaner</a>
	  <ul class="right hide-on-med-and-down">
	    <li><a href="/compare">Compare</a></li>
		<li><a class="dropdown-trigger" href="#!" data-target="dropdown1"> <i class="material-icons">person</i> </a></li>
	  </ul>
	  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>
</nav>
<ul id="dropdown1" class="dropdown-content">
<li><a href="#!" id="userddName">one</a></li>
	<li class="divider" tabindex="-1"></li>
<li><a href="#!">Logout</a></li>
</ul>
