<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Check4Duplicates</title>
</head>
 
<body>
 	<div>
		<form name="uploadfile" action="/upload" method="post" enctype="multipart/form-data">
		<input type="file" name="dataFile" required = "required"/>
		<input type="submit" value="Check File">
		</form>
        </div>
 
        <!-- <footer>
            <p>&copy;2016 Check4Duplicates. Powered by <a target = "_blank" href= "http://versified.xyz">VersiTech</a> </p>
        </footer>	 -->
 
    </div>
</body>
 
</html>
