{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
	{# the super() call imports the main files referenced in the extended layout #}
	{{ super() }}

	<link rel="stylesheet" type="text/css" href="static/css/style.css">
{% endblock %}
	<body>
		{% block navigation %}
			{% include "navs/main.html" %}
		{% endblock %}
				{% block content %}
				<div class="col l3" id="uploadsHere">
					<div id="File-manager" style="text-align:center">
						<img src="static/gif-load.gif" alt="Loading ...">
					</div>
					<form id="cleanerForm" action="/File-Upload" method="post" enctype="multipart/form-data">
						<div class="progress blue lighten-4">
							 <div class="indeterminate blue"></div>
					 </div>
						<div class="file-field input-field">
				      <div class="btn blue">
				        <span>File</span>
				        <input type="file" name="newdataFile1" id="ndfile1" required="required" >
				      </div>
				      <div class="file-path-wrapper">
				        <input class="file-path validate" type="text">
				      </div>
				    </div>
						<input type="submit" value="upload" class="btn blue">

					</form>
				</div>
				<div class="col l5" id="operationsHere">
					{% include "forms/main.html" %}
				</div>
				<div class="col l4" id="resultsHere">

				</div>
				{% endblock %}
		{% block scripts %}
			{{ super() }}
			<script type="text/javascript" src="static/dist/jquery/js/jquery.validate.min.js"></script>
			<script type="text/javascript" src="static/dist/jquery/js/additional-methods.js"></script>
			<script type="text/javascript" src="static/js/scripting.js"></script>
			<script type="text/javascript" src="static/js/script.js"></script>
		{% endblock %}
	</body>
</html>
