<!DOCTYPE html>
<html lang="en">
 
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
    <title>Success</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../bootstrap/css/normalize.css">

</head>

	<body>

		<div>
			<p> <h1 class="text-success"> That's cool! No Duplicate entries found in your file.</h1> </p>

		<footer class="panel-footer">
        	<p>&copy;2016 Check4Duplicates. Powered by<a class="btn btn-link" target = "_blank" href= "http://versified.xyz">VersiTech</a> </p>
    	</footer>
	</body>

</html>
