<!DOCTYPE html>
<html lang="en">
 
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
    	<title>Success</title>
    	<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css">
    	<link rel="stylesheet" type="text/css" href="../bootstrap/css/normalize.css">
	</head>

	<body class="container">
		<div align="center">
			<h1 class="text-success">Success!  File separated and saved. <p> Go ahead and Download them below.</p></h1>
		</div>
		<div align="center" class="jumbotron container">
			<p>
				<form method="get" action="static/duplicates/duplicate.csv">
					<button class="btn btn-block btn-success btn-lg active" type="submit">Duplicate Entries file</button>
				</form>
			</p>
			<p> 
				<form method="get" action="static/newfiles/newFile.csv">
					<button class="btn btn-block btn-primary btn-lg active" type="submit">New file without duplicate entries</button>
				</form>	
			</p>
		</div>
		<footer class="panel-footer">
        	<p>&copy;2016 Check4Duplicates. Powered by<a class="btn btn-link" target = "_blank" href= "http://versified.xyz">VersiTech</a> </p>
    	</footer>

	</body>

</html>
