<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Compare Files</title>
</head>
 
<body>
    <h2>Select files to compare</h2>
 	<div  align="center">
		<form name="uploadfile" action="/upload" method="post" enctype="multipart/form-data">
		First file: <input type="file" name="dataFile1" required = "required"/>
        Second file: <input type="file" name="dataFile2" required = "required"/>
		<p><input type="submit" value="Compare Files"></p>
		</form>
        </div>
 
        <!-- <footer>
            <p>&copy;2016 Check4Duplicates. Powered by <a target = "_blank" href= "http://versified.xyz">VersiTech</a> </p>
        </footer>	 -->
 
    
</body>
 
</html>
